doctype html
html(lang="en")
	head
		title Pereli Web Works
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

		<!-- Optional theme -->
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")

		<!-- Latest compiled and minified JavaScript -->
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

		link(href="css/global.css" type="text/css" rel="stylesheet")
		script.
			var fadeDuration = 1000;
			$(() => {
				setTimeout(() => {
					$(".fade-in-1").animate({opacity: 1}, fadeDuration, "swing", () => {
					$(".fade-in-2").animate({opacity: 1}, fadeDuration, "swing", () =>{
					$(".fade-in-3").animate({opacity: 1}, fadeDuration);
					});
					});
				}, 1300);
			});
	body
		.container-fluid
			.col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1.content
				.row: h2.fade-in.fade-in-1.
					Welcome to Pereli Web Works
				.fade-in.fade-in-2
					.row.
						Because my clients' websites will always take priority over my own, this site is still under construction!
					.row.
						If you'd like some help building your website, feel free to get in touch with me at pereliwebworks@gmail.com.
				.row.fade-in.fade-in-3 Here are some of the websites I've worked on.
					ul
						li: a(href="http://statestreetbrats.com/", target="_blank").
								State Street Brats
						li: a(href="http://silvercloudsociety.com/", target="_blank").
								Silver Cloud Society
						li: a(href="http://pawfriendlyfurniture.com/", target="_blank").
								Paw Friendly Cat Furniture
						li: a(href="http://www.thelandingmadison.com/", target="_blank").
								The Landing
						li: a(href="http://skin608.com/", target="_blank").
								Skin608
						li: a(href="http://www.jcwtaxaccounting.com/", target="_blank").
								JCW Tax & Accounting
						li: a(href="http://mitlinq.org/", target="_blank").
								MIT Linq
						li: a(href="http://hackingchronicdisease.org/", target="_blank").
								Hacking Chronic Disease
						li: a(href="http://clarityadvocacy.com", target="_blank").
								Clarity Advocacy










